*{
    padding: 0px;
    margin: 0px;
}

a{
    color: #FAAF3C;
    text-decoration: none;
}

a:visited{
    color: #FAAF3C;
}

a:hover{
    color: #fddfb0;
}

/*MENU NAVEGACION*/

body{
    background-color: blanchedalmond;
}
#menu{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
        background-color: #5C6D89;
    width: auto;
    color: white;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
 
}

#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;   
}

#nav > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid #C0CCE6;
    transition: all 300ms;
    font-family: 'Roboto Mono', monospace;
    min-width: 113px;
}

#nav > ul > li a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;

}

#nav > ul > li > a:first-child{
    border-left: 1px solid #C0CCE6;
}

#nav > ul > li:hover{
    background-color: #FAAF3C;
    box-shadow: 0px 0px 6px #fddfb0 inset;
}

/*MENU DESPEGABLE*/

#nav > ul > li > ul {
    display: none;
    position: absolute;
    min-width: 113px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
}

#nav > ul > li:hover > ul {
    display: block;
}

#nav > ul > li:hover > ul > li {
    background-color: #FAAF3C;
    border-bottom: 1px solid #C0CCE6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav > ul > li:hover > ul > li:hover {
    background-color: #fddfb0;
    box-shadow: 0px 0px 6px #FAAF3C inset;
    transition: all 300ms;
}

#nav > ul > li:hover > ul > li:hover a{
    color: black
}