@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
        margin: 22px auto;
        width: 100%;
    }

    .card{
        width: 17%;
        margin: 1.45%;
    }

    .card p{
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 90%;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer #browsers img{
        width: 14%
    }
    
    #footer h5{
        font-size: 21px;
    }
}

@media (max-width: 1080px){

    .card .category{
        font-size: 15px;
    }

    .card .description{
        font-size: 12px;
    }

    #articles{
        width: 61%;
    }

    #footer img {
        margin-bottom: 14px;
        max-width: 100%;
    }

}

@media (max-width: 970px){

    #articles{
        width: 65%;
    }

    #footer h5{
        font-size: 20px;
    }

    #lateral{
        width: 30%;
    }
    
    #lateral input[type="text"]{
        width: 77%;
    }

    .aside-box{
        width: 95%;
        height: auto;
        padding-bottom: 10px;
        
    }

    #login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #lateral input[type="email"],
    #lateral input[type="password"]{
        width: 65%;
    }

    #login #user,
    #login #password{
        margin-left: 33px;
    }

    #lateral input[type="submit"],
    #lateral input[type="button"],
    #lateral input[type="reset"]{
        margin-bottom: 0px;
    }

    #lateral input[type="reset"]{
        display: none;
    }
}

@media (max-width: 954px){

    #footer .wrap >div{
        width: 26%;
        margin: 20px;
    }

    #footer h5{
        font-size: 19px;
    }
}

@media (max-width: 899px){
    #lateral h3{
        font-size: 18px;
    }

    #menu ul li{
        font-size: 16px;
    }
}

@media (max-width: 821px){
    #banner {
        height: 85px;
    }

    #banner h1{
        font-size: 25px;
    }
}

@media (max-width: 788px){

    #menu ul li{
        font-size: 12px;
    }

    .card{
        height: auto;
        margin-top: -10px;
    }

    .card .category{
        font-size: 13px;
    }

    .card .description{
        display: none;
    }
}

@media (max-width: 720px){

    #header{
        width: 100%;
        height: 140px;
    }

    #menu {
        clear: both;
        float: none;
        width: 475px;
        margin: 0px auto;
    }

    #menu ul li{
        font-size: 15px;
    }

    #logo {
        float: none;
        width: 220px;
        margin: 0px auto;
}

@media (max-width: 720px){

    #banner h1{
        font-size: 21px;
    }

    #lateral{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #lateral input[type="text"]{
        width: 93%;
    }

    #lateral input[type="email"], 
    #lateral input[type="password"] {
        width: 90%;
    }

    #search {
        height: 21px;
    }

    #articles{
        float:none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }
}

@media (max-width: 650px){

    #login #user, 
    #login #password {
        margin-left: 20px;
    }

    #lateral input[type="button"], 
    #lateral input[type="submit"]{
        padding: 3px;
    }

    #lateral input[type="text"] {
        width: 89%;
        padding-left: 18px;
    }

    #footer{
        height: auto;
        padding-bottom: 40px;
    }

    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 25px;
    }

    #footer #browsers img{
        width: 14%
    }
    
    #footer h5{
        font-size: 23px;
    }

}

@media (max-width: 562px){

    #banner{
        height: 75px;
    }

    #banner h1{
        font-size: 17px;
    }
    .card{
        font-size: 25px;
        margin: 1%;
    }

    .card .icon{
        font-size: 30px;
        height: 100px;
    }
    .card:hover .icon{
        font-size: 40px;
    }
    .card .category{
        font-size: 13px;
    }

    #lateral input[type="text"] {
        width: 89%;
        padding-left: 9px;
    }

    #login #user, 
    #login #password {
        margin-left: 12px;
    }

    #articles h2 {
        font-size: 36px;
    }

@media (max-width: 472px){

    #banner h1 {
        font-size: 15px;
    }

    #menu ul li {
        margin: 0px 1px 0px 15px;
        
    }

    #articles h2 {
        font-size: 32px;
        width: 99%;
    }

    #aside h3{
        width: 95%;
    }

    #lateral input[type="email"], 
    #lateral input[type="password"] {
        width: 87%;
    }

    #articles article {
        width: 92%;
    }

    #articles article h4 {
        font-size: 20px;
    }

    #blog:hover{
        width: 90%;
    }
}

@media (max-width: 406px) {
    #lateral input[type="text"] {
    width: 87%;
    padding-left: 9px;
}
}